@use "../../styles/partials/globals/mixins" as *;
@use "../../styles/partials/globals/variables" as *;

.button {
  font-family: proxima-nova, Proxima Nova, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  border: none;
  font-size: 1.6rem;
  width: 19.4rem;
  height: 5.9rem;
  background-color: $brandPrimary;
  font-weight: 700;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;

  &:hover {
    cursor: pointer;
    text-decoration: underline;

    .button__img {
      transition: 0.4s;
      transform: translateX(15%);
    }
  }

  &__img {
    width: 3.4rem;
    height: 1.4rem;
    filter: brightness(0%) invert(100%);
    transition: 0.4s;
    margin-top: 0.4rem;
  }
}
