@use "../../styles/partials/globals/variables" as *;
@use "../../styles/partials/globals/mixins" as *;

.card {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  color: #333;

  font-size: 1.6rem;
  line-height: 2.4rem;
  background-color: $brandSecondary;
  color: $ice;
  clip-path: polygon(0 0, 0 100%, 83.5% 100%, 100% 90.5%, 100% 0);
  -webkit-clip-path: polygon(0 0, 0 100%, 83.5% 100%, 100% 90.5%, 100% 0);
  position: relative;

  &__container {
    display: flex;
    width: 100%;
    max-height: 35rem;

    @include desktop {
      max-height: 21rem;
    }

    &--unavailable {
      height: 21rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.97);
    }
  }

  &__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding: 0 2rem;
  }

  &__text {
    font-size: 1.6rem;
    padding: 0 2rem;
  }

  &__schedule {
    font-size: 1.6rem;
    padding: 0 2rem;
    align-self: flex-start;
  }

  &__img {
    width: 100%;
    height: auto;

    &--unavailable {
      height: 43%;
    }
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    background-color: black;
    background-color: $brandSecondary;
    width: 100%;
    padding: 1rem;
  }

  &__button-container {
    position: relative;
    width: 100%;
    padding-left: 2rem;
  }

  &__link {
    width: 15.4rem;
    display: inline-block;
  }
}
