@use "../../styles/partials/globals/mixins" as *;
@use "../../styles/partials/globals/variables" as *;

.header {
  display: flex;
  padding: 1.6rem;
  background-color: white;
  color: $brandPrimary;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 6rem;
  width: 100%;
  transition: 0.6s;
  border-bottom: 1px solid transparent;

  @include tablet {
    padding: 1.6rem 6rem;
    height: 10.1rem;
  }

  &--scrolled {
    background-color: transparent;
  }
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $brandPrimary;

  &__list {
    display: flex;
    gap: 2rem;
  }

  &__list-item {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: #f0ffff;

    &:hover {
      cursor: pointer;
    }

    @include tablet {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }

    @include desktop {
      color: $brandPrimary;
    }
  }

  &__link {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: $ice;

    @include tablet {
      &:hover {
        opacity: 1;
      }
    }

    @include desktop {
      color: $brandPrimary;
    }

    &--red {
      color: $brandPrimary;
    }
  }

  &__img {
    width: auto;
    height: 2.3rem;
    transition: 0.6s;
    filter: invert(12%) sepia(89%) saturate(6324%) hue-rotate(338deg)
      brightness(90%) contrast(106%);

    @include tablet {
      height: 4.2rem;
      width: auto;
    }
    &--white {
      filter: brightness(0%) invert(100%);
    }
  }
}

.react-calendar {
  position: absolute;
  top: 6rem;
  right: 0;
}
