@use "../../styles/partials/globals/variables" as *;
@use "../../styles/partials/globals/mixins" as *;

.footer {
  background-color: $brandSecondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  padding: 5rem 1.6rem 3rem;

  @include tablet {
    padding: 5rem 3.6rem 5rem;
  }

  @include desktop {
    padding: 5rem calc((100vw - 1208px) / 2) 5rem;
  }

  &__logo {
    height: 2.7rem;
    filter: brightness(0%) invert(100%);
    width: auto;

    @include tablet {
      height: 3.2rem;
    }
  }

  &__container {
    @include desktop {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__container-top {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }
  }

  &__line {
    display: block;
    margin: 12px auto 16px;
    border-bottom: thin solid hsla(0, 0%, 59%, 0.5);
    width: 50px;
    height: 0;

    @include desktop {
      display: inline-block;
      margin: 0 39.6px;
      border-bottom: 0;
      border-right: thin solid hsla(0, 0%, 59%, 0.5);
      width: 0;
      height: 37px;
      vertical-align: middle;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 1.7rem;
  }

  &__container-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4.4rem;
    align-items: center;

    @include desktop {
      flex-direction: row;
      margin: 0;
      gap: 2rem;
    }
  }

  &__contact {
    font-size: 1.8rem;
    font-weight: 500;

    &--bold {
      font-weight: 700;
    }
  }

  &__rights {
    font-weight: 400;
    font-size: 1.6rem;
    color: $footerGrey;
    margin-top: 3rem;
    text-align: center;
  }
}
